body{
    background-color: black;   
}

a{
    color: black;    
}

h4, h5{
    font-family: "Lucida Console", Monaco, monospace;	
    font-weight: bold;
}

@media (max-width: 950px){
    .nombre-equipo {
        display: none;
    }
}

@media (max-width: 480px){
    .nombre-equipo-movil {
        display: inline !important;
        margin-left: -10px;
    }
    .nombre-equipo-tabla {
        display: none !important;
    }
    .table-club:after{
        display: none;
    }
}

@media (max-width: 480px){
    #txt-header {
        font-size: large;
    }
}

@media (max-width: 640px){
    .tabla-arbitro {
        display: none;
    }
    .tabla-estadio{
        display: none;
    }    
}

@media (max-width: 480px){
    #tabla_jugadores{
        font-size: 12px;
    } 
}

@media (max-width: 950px){
    .escudo{
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 97.5%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}


@media (min-width: 1200px) {
    .table {
        max-width: 950px;
    }
}


.table{
    font-size:small;
    width: 100%;
}

.table-equipos{
    font-size: medium;
}

table.center{
    margin-left:auto; 
    margin-right:auto;
}

.table-equipos td{
    cursor: pointer;
    border-top: 0px;
}

.table-equipos tr:first-child{
    background-color: rgba(0, 0, 0, 0);
}

.table-jugadores tr:first-child{
    background-color: rgba(0, 0, 0, 0);
}


.tabla-grande{
    font-size: 15px;
}

.tabla-laliga{
    margin-right: 20px;
}


.tabla-equipos{
    margin-right: 10px;
}

.table th,
.table td {
    padding: 0.25rem;
}


.table-club {
    position: relative;
}

.table-club:after {
    content: '';
    height: 75%;
    width: 1px;

    position: absolute;
    right: 10px;

    background-color: #E0E0E0;
}

tr:first-child{
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(24, 120, 210, 0.7);
}

.bg-white {
    background-color: #333232 !important;
}

.text-dark{
    color: white !important;
}

.display-6{
    color: white !important;
}

.btn-dark {
    color: #000;
    background-color: #fff !important;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #000;
    background-color: #cac8c7 !important;
    border-color: #1d2124;
}

.bg-danger{
    background-color: #007bff !important;
}

.badge-danger{
    background-color: #007bff !important;
}

.border {
    border: 1px solid #e3dada !important;
}

.border-top {
    border-top: 1px solid #e3dada !important;
}

.border-right {
    border-right: 1px solid #e3dada !important;
}

.border-bottom {
    border-bottom: 1px solid #e3dada !important;
}

.border-left {
    border-left: 1px solid #e3dada !important;
}

.card{
    margin-top: 15px;
}

.top{
    color: #fff;
}

.nombre-equipo-movil{
    display: none;
}

.border{
    border: 1px solid grey;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.row > div {
    width: 100%;
}

#c3 {
    order: 1;
}

#c2 { 
    order: 2;
}

#c1 {
    order: 3;
}

.escudo{
    width: 27px;
    height: 27px;
}

.escudo-tabla{
    width: 23px;
    height: 23px;
    margin-right: 20px;
}

.img-header{
    width: 100px;
    height: 100px;
}


.img-noticia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img-noticia-reducida{
    transition: transform .2s;
}

.img-noticia-reducida:hover {
    transform: scale(0.95); 
}

.titulo{
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: auto;
}

.titulo-noticia {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-weight: bold;
    margin-bottom: 15px;
    color : white;
}

.cuerpo-noticia {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    text-align: justify;
    margin-bottom: 20px;
    color : white;
}

.header-laliga{
    background-color: black;	
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link{
    font-weight: bold;
}

.oi-brush{
    margin-right: 5px;
}

#btn-estilo{
    cursor: pointer;
}

navar-container{
    background-color: whitesmoke;   
}
[data-toggle="collapse"] .fa:before { 
    margin-left: 5px;  
    content: "\f077";
}

[data-toggle="collapse"].collapsed .fa:before {
    margin-left: 5px;  
    content: "\f078";
}
